<%- include('../partials/header') %>

<% tasks.forEach(task => { %>
<% if (task.type === "Hobby") { %>
<section id="all-cards">
  <section class="card-row" id="first">
    <label>Task Name:</label>
    <div><%= task.name %></div>
  </section>
  <section class="card-row" id="second">
    <label>Task Type:</label>
    <div><%= task.type %></div>
    <label>Category:</label>
    <div><%= task.category %></div>
  </section>
  <section class="card-row" id="fourth">
    <label>People:</label>
    <% task.people.forEach(person => { %> 
    <div><%= person %></div>
    <% }); %> 
  </section>
  <section class="card-row" id="fifth">
    <% if (task.ratings.length !== 0) { %>
    <label>Average Rating:</label>
    <% let ratArr = []; %> <% task.ratings.forEach(r => { %>
    <% ratArr.push(r.rating); %> <% }) %>
    <% let totalArr = ratArr.reduce(avgFunc) %>
    <% function avgFunc(total, num) { return total + num; } %>
    <% let avgRat = (totalArr / ratArr.length) %>
    <div><%= avgRat.toFixed(1) %></div>
    <% } %>
  </section>
  <a href="/tasks/<%= task._id %>" class="card-row">DETAILS</a>
</section>
<br />
<% } %> 
<% }); %>

<%- include('../partials/footer') %>
