<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> <%= title %> </h1>
    <% tasks.forEach(task => { %>
        <section>
            <div>Task Name</div>
            <div> <%= task.name %> </div>
            <div>Task Type</div>
            <div> <%= task.type %> </div>
            <div>Category</div>
            <div> <%= task.category %> </div>
            <div>Priority</div>
            <div> <%= task.priority %> </div>
            <div>Difficulty</div>
            <div> <%= task.difficulty %> </div>
            <div>Length</div>
            <div> <%= task.length %> </div>
            <div>People</div>
            <div> <%= task.people %> </div>
        </section>
    <% }); %>
</body>
</html>