<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= title %></h1>
    <% tasks.forEach(task => { %>
    <section>
      <label>Task Name:</label>
      <div><%= task.name %></div>
      <label>Task Type:</label>
      <div><%= task.type %></div>
      <label>Category:</label>
      <div><%= task.category %></div>
      <label>Priority:</label>
      <div><%= task.priority %></div>
      <label>Difficulty:</label>
      <div><%= task.difficulty %></div>
      <label>Length:</label>
      <div><%= task.length %></div>
      <label>People:</label>
      <div><%= task.people %></div>
      <a href="/tasks/<%= task._id %>">DETAILS</a>
    </section>
    <br />
    <% }); %>
  </body>
</html>
